@import './variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    /* Desktop feel */
    -webkit-font-smoothing: none;
    /* Crisp pixels */
}

body {
    font-family: var(--font-sys);
    background-color: var(--sys-gray-500);
    /* Classic Dither Pattern for Background */
    background-image:
        linear-gradient(45deg, #808080 25%, transparent 25%),
        linear-gradient(-45deg, #808080 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #808080 75%),
        linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 4px 4px;
    background-position: 0 0, 0 2px, 2px -2px, -2px 0px;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Desktop shouldn't scroll globally */
}

a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

button {
    cursor: pointer;
    font-family: inherit;
}