.desktop-icon {
    position: absolute;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    z-index: var(--z-icon);
}

.icon-img {
    font-size: 32px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ideally use an image here later */
}

.icon-label {
    font-size: 12px;
    text-align: center;
    color: var(--sys-gray-900);
    padding: 2px 4px;
    background-color: var(--sys-gray-100);
    border: 1px solid transparent;
}

.desktop-icon:active .icon-label {
    background-color: var(--sys-blue);
    color: var(--sys-white);
    border: 1px dotted var(--sys-gray-900);
}