.retro-card {
    background-color: var(--card-bg);
    border: 4px solid var(--border-color);
    box-shadow: 6px 6px 0px var(--shadow-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.retro-card-header {
    border-bottom: 4px solid var(--border-color);
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    background: repeating-linear-gradient(45deg,
            var(--accent-color),
            var(--accent-color) 2px,
            var(--card-bg) 2px,
            var(--card-bg) 4px);
    color: var(--text-color);
}

.card-title {
    background: var(--card-bg);
    padding: 0 8px;
    border: 2px solid var(--border-color);
    font-weight: bold;
}

.retro-card-content {
    padding: 24px;
}

.retro-card-footer {
    padding: 24px;
    padding-top: 0;
    text-align: right;
}